<main class="index">
    <header class="masthead d-flex">
        <div class="container ">
            <h1 class="mb-1">Enlaces Directos</h1>
            <h3 class="mb-5">
                <em>Crea Accesos a Links Directos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Iniciamos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>